{% extends 'base.html.twig' %}

{% block title %}ShopCategory{% endblock %}

{% block body %}
    <h1>ShopCategory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shop_category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ shop_category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('shop_category_index') }}">back to list</a>

    <a href="{{ path('shop_category_edit', {'id': shop_category.id}) }}">edit</a>

    {{ include('shop_category/_delete_form.html.twig') }}
{% endblock %}
