{% extends 'base.html.twig' %}

{% block title %}CommentsReplyRating{% endblock %}

{% block body %}
    <h1>CommentsReplyRating</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comments_reply_rating.id }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ comments_reply_rating.action }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comments_reply_rating.createdAt ? comments_reply_rating.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>EditedAt</th>
                <td>{{ comments_reply_rating.editedAt ? comments_reply_rating.editedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comments_reply_rating_index') }}">back to list</a>

    <a href="{{ path('comments_reply_rating_edit', {'id': comments_reply_rating.id}) }}">edit</a>

    {{ include('comments_reply_rating/_delete_form.html.twig') }}
{% endblock %}
