{% extends 'base.html.twig' %}

{% block title %}CommentsReply index{% endblock %}

{% block body %}
    <h1>CommentsReply index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>RepliedAt</th>
                <th>EditedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comments_reply in comments_replies %}
            <tr>
                <td>{{ comments_reply.id }}</td>
                <td>{{ comments_reply.content }}</td>
                <td>{{ comments_reply.repliedAt ? comments_reply.repliedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comments_reply.editedAt ? comments_reply.editedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('comments_reply_show', {'id': comments_reply.id}) }}">show</a>
                    <a href="{{ path('comments_reply_edit', {'id': comments_reply.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comments_reply_new') }}">Create new</a>
{% endblock %}
